{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<div class="content content-fixed content-auth-alt">
    <div class="container d-flex justify-content-center ht-100p">

        <form class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center"
            method="POST">
            <div> 
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    <span>{{error}}</span>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% csrf_token %}
            <div class="wd-80p wd-sm-300 mg-b-15"><img src="{% static 'assets/img/email-password-reset.jpg' %}"
                    class="img-fluid" alt=""></div>
            <h4 class="tx-20 tx-sm-24">Restablecer su contraseña</h4>
            <p class="tx-color-03 mg-b-30 tx-center">Ingrese su nombre de usuario o dirección de correo electrónico y le
                enviaremos un enlace para restablecer su contraseña.</p>
            <div class="wd-100p d-flex flex-column mg-b-40">

                <input class="form-control" id="{{ form.email.id_for_label }}" type="email"
                    name="{{ form.email.html_name }}" placeholder="Email">

                <button class="btn btn-brand-02 mt-2 mg-t-10 mg-sm-t-0" type="submit">Restablecer la
                    contraseña</button>
            </div>
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="alert alert-danger mt-2" role="alert">
                <span>{{error}}</span>
            </div>
            {% endfor %}
            {% endif %}
            <p class="text-gray-600 mt-4"><a href="{% url 'accounts:login' %}" class="text-blue-500 font-bold">
                {% translate 'Volver para iniciar sesión' %}</a>.</p>
        </form>
    </div><!-- container -->
</div><!-- content -->
{% endblock content %}