{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<div class="content content-fixed content-auth-alt">
    <div class="container d-flex justify-content-center ht-100p">
{% if validlink %}

        <form class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center"
            method="POST">
            <div> 
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    <span>{{error}}</span>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% csrf_token %}
            <div class="wd-80p wd-sm-300 mg-b-15"><img src="{% static 'assets/img/email-password-reset.jpg' %}"
                    class="img-fluid" alt=""></div>
            <h4 class="tx-20 tx-sm-24">Restablecer su contraseña</h4>
            <p class="text-md text-gray-500">
                {% translate "Ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente." %}
            </p>
    
            {% csrf_token %}
            <input class="d-none" autocomplete="username" value="{{ form.user.username }}">
            <div class="mt-4">
                <label class="mg-b-0-f">Contraseña nueva</label>
                <input class="form-control" id="{{ form.new_password1.id_for_label }}" type="{{ form.new_password1.widget_type }}"
                    name="{{ form.new_password1.html_name }}" placeholder="{% trans 'New password' %}">
            </div>
            {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
            <div class="alert alert-danger mt-2" role="alert">
                <span>{{error}}</span>
            </div>
            {% endfor %}
            {% endif %}
            <div class="mt-2">
                <label class="mg-b-0-f">Confirmar contraseña</label>
                <input class="form-control" id="{{ form.new_password2.id_for_label }}" type="{{ form.new_password1.widget_type }}"
                    name="{{ form.new_password2.html_name }}" placeholder="{% translate 'Confirmar contraseña' %}">
            </div>
            {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
            <div class="alert alert-danger mt-2" role="alert">
                <span>{{error}}</span>
            </div>
            {% endfor %}
            {% endif %}
            <div class="flex items-center justify-between">
                <button class="btn btn-brand-02 mt-2 mg-t-10 mg-sm-t-0" type="submit">Cambiar mi
                    contraseña</button>
            </div>
        </form>
    
    {% else %}
    <div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center">
        <p class="text-gray-500">
            {% translate "El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña." %}
        </p>
        <a href="{% url 'accounts:login' %}"
            class="text-gray-600 mt-4">{% trans "Volver para iniciar sesión" %}</a>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}