{% extends 'training/coach/base.html' %}
{% load crispy_forms_tags static %}

{% block body %}
<div class="filemgr-content-header">
    {% if object %}
        <h4 class="mg-b-0">Editar {{object.name | capfirst}}</h4>
    {% else %}
        <h4 class="mg-b-0">Nueva Rutina</h4>
    {% endif %}
</div><!-- filemgr-content-header -->
<div class="filemgr-content-body">
    <div class="pd-20 pd-lg-25 pd-xl-30">
        {% crispy form %}
    </div>
</div><!-- filemgr-content-body -->

{% endblock body %}
{% block js %}
<script src="{% static 'assets/js/dashforge.filemgr.js' %}"></script>
<script src="{% static 'assets/js/routine.js' %}"></script>
{% endblock js %}