           <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <aside class="sidebar">
                <div class="el-panel el-panel-teacher-widget">
                    <div class="el-panel-body">
                    <div class="el-panel-title">
                        <h2>Configuración</h2>
                    </div>
                    <ul class="el-list-icon">
                        <li>
                        <a href="{% url 'accounts:profile' %}">
                            <i class="fa fa-cog"></i>
                            <span class="text">Escritorio</span>
                        </a>
                        </li>
                        <li>
                        <a href="{% url 'accounts:profile_edit' %}">
                            <i class="fa fa-edit"></i>
                            <span class="text">Editar perfil</span>
                        </a>
                        </li>
                        <li>
                        <a href="teacher/dashboard-skills.html">
                            <i class="fa fa-cog"></i>
                            <span class="text">Your Skills</span>
                        </a>
                        </li>
                        <li>
                        <a href="teacher/dashboard-courses.html">
                            <i class="fa fas fa-book"></i>
                            <span class="text">Courses</span>
                        </a>
                        </li>
                        <li>
                        <a href="teacher/dashboard-classrooms.html">
                            <i class="fa fas fa-book"></i>
                            <span class="text">Classrooms</span>
                        </a>
                        </li>
                    </ul>
                    </div>
                </div>
                </aside>
            </div>